<div class="row">
    <div class="col-xs-12 col-md-10">
        <form class="form-group">
            <div class="row">
                <div class="col-sm-8">
                    <label for="ingredient">Ingredient</label>
                    <input type="text" class="form-control" id="ingredient">
                </div>
                <div class="col-sm-4">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success">Update / edit</button>
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>